services:
  f1database:
    image: mongo
    ports:
      - "27017:27017"
  databaseservice:
    build: ./DatabaseService
    ports:
      - "3000:3000"
  gatewayapi:
    build: ./GatewayService
    ports:
      - "5000:80"