services:
  f1database:
    image: mongo
    ports:
      - "27017:27017"
  databaseservice:
    build: ./DatabaseService
    ports:
      - "3000:3000"
    depends_on:
      - "f1database"
  gatewayapi:
    build: ./GatewayService
    restart: always
    ports:
      - "5000:80"
    depends_on:
      - "databaseservice"
      - "mqtt"
  analytics:
    build: ./AnalyticsService
    restart: always
    ports:
      - "5003:80"
    depends_on:
      - "mqtt"
      - "ekuiper"
      - "influx"
  mqtt:
    container_name: mqtt
    image: eclipse-mosquitto
    restart: always
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"
  influx:
    container_name: influx
    image: influxdb
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminadmin
      - DOCKER_INFLUXDB_INIT_ORG=soa_um
      - DOCKER_INFLUXDB_INIT_BUCKET=laptimes
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=token
    volumes:
      - ./influx/data:/var/lib/influxdb
    ports:
      - "8086:8086"
  ekuiper:
    container_name: ekuiper
    image: lfedge/ekuiper
    ports:
      - "9081:9081"
    environment:
      - MQTT_SOURCE__DEFAULT__SERVER=tcp://mqtt:1883